<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzp.provider.mapper.BlogValueMapper">
    <resultMap id="BaseResultMap" type="com.zzp.api.entity.BlogValue">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="tables_name" property="tablesName" jdbcType="OTHER"/>
        <result column="before_value" property="beforeValue" jdbcType="OTHER"/>
        <result column="after_value" property="afterValue" jdbcType="OTHER"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.zzp.api.entity.BlogValue" useGeneratedKeys="true" keyProperty="id">
        insert into blog_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blogValue.id
             != null">
                id,
            </if>
            <if test="blogValue.tablesName != null">
                tables_name,
            </if>
            <if test="blogValue.beforeValue != null">
                before_value,
            </if>
            <if test="blogValue.afterValue != null">
                after_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blogValue.id != null">
                #{blogValue.id,jdbcType=OTHER},
            </if>
            <if test="blogValue.tablesName != null">
                #{blogValue.tablesName,jdbcType=OTHER},
            </if>
            <if test="blogValue.beforeValue != null">
                #{blogValue.beforeValue,jdbcType=OTHER},
            </if>
            <if test="blogValue.afterValue != null">
                #{blogValue.afterValue,jdbcType=OTHER},
            </if>
        </trim>
    </insert>

    <select id="selectBlogValueByTandId" resultType="com.zzp.api.entity.BlogValue">
        SELECT bv.id,
        bv.before_value beforeValue,
        bv.after_value afterValue,
        bv.tables_name tablesName
        from blog_value bv
        <where>
            <if test="tranId != null and tranId != ''">
                bv.after_value LIKE CONCAT ('%', #{tranId}, '%');
            </if>
        </where>
    </select>


</mapper>