<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzp.provider.mapper.DeptMapper">

    <select id="findById" resultType="com.zzp.api.entity.Depart">
		select id,
		dept_no deptNo,
		dept_name deptName from dept where id=#{id};
	</select>
	<update id="updateDeptById">
		update dept
		<set>
			<if test="depart.deptNo != null and depart.deptNo != ''">
				dept_no = #{depart.deptNo},
			</if>
			<if test="depart.deptName != null and depart.deptName != ''">
				dept_name = #{depart.deptName},
			</if>
			<if test="depart.tranId != null and depart.tranId != ''">
				tran_id = #{depart.tranId},
			</if>
		</set>
		<where>
			<if test="depart.id != null and depart.id != ''">
				id = #{depart.id}
			</if>
		</where>
	</update>
    <select id="findAll" resultType="com.zzp.api.entity.Depart">
		select id,
		dept_no deptNo,
		dept_name deptName
		from dept;
	</select>
<!--    <insert id="addDept" parameterType="Dept">-->
<!--		INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE());-->
<!--	</insert>-->

</mapper>


